%li.dd-item
  %div.dd-item-inner
    = link_to spina.edit_admin_article_path(article), class: 'button button-link button-small sortable-link' do
      = article.title
    %span
      - if article.live?
        .article-status.live Live
      - if article.draft?
        .article-status.draft Draft
      - if article.scheduled?
        .article-status.scheduled Scheduled
    %span
      = link_to spina.edit_admin_article_path(article), class: 'button button-small' do
        = icon('pencil-outline')
        = t('spina.edit')
