- content_for(:permanent_notice) do
  - unless current_account.robots_allowed?
    .permanent-notice.permanent-notice-info
      = icon('search')
      %p
        =t 'spina.pages.invisible_to_search_engines'
        %small=t 'spina.pages.invisible_to_search_engines_description'

%header#header
  .breadcrumbs
    = render_breadcrumbs seperator: '<div class="divider"></div>'
    = link_to spina.articles_path, target: :blank, class: 'button button-hollow button-small' do
      %i.icon.icon-export{style: 'margin: 0'}

  #header_actions
    %span
      = link_to spina.new_admin_article_path, class: 'button button-primary' do
        = icon('plus')
        = t("spina.articles.new", title: t('spina.articles.name'))

.well
  - if @articles.any?
    .dd
      %ol.dd-list
        = render partial: 'article', collection: @articles
  - else
    %em= t("spina.articles.empty", title: t('spina.articles.name_plural'))

:sass
  .article-status
    padding: 6px 12px
    border-radius: 999px
    line-height: 18px
    color: white
    font-size: 12px
    font-weight: 600
    margin-right: 12px

    &.live
      background-color: #3adb76

    &.draft
      background-color: #767676

    &.scheduled
      background-color: #1779ba